html,
body{
        height: 100%;
        width: 100%;
}
body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    background-color: #fff;
}
h1{
        color: #656565  ;
}
